<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Order Management System</title>
  <link rel="stylesheet" href='/stylesheets/index.css'>
</head>
<body>
  <div class="container">
    <div class="col"></div>
    <div class="body">
      <div class="menu-bar">
        <ul>
          <li><a href="/items" class="router">Menu Items</a></li>
          <li><a href="/categories" class="router">Categories</a></li>
          <li><a href="/orders" class="router">Orders</a></li>
          <li><a href="/customers" class="router">Customers</a></li>
          <li><a href="/cart" class="active"><img src="/img/cart.png" alt="Cart" width="20" height="20"></a></li>
        </ul>
      </div>
      <div class="header">
        <div class="header-title">
          <h1>Cart</h1> 
        </div>
      </div>
      <form method="POST" action="/items/update/">
        <div class="content roboto black">
          <label for="date_time">DateTime</label>
          <br>
          <input type="text" id="date_time" name="date_time" value="<%= cart.order_date_time %>" disabled>
          <br>
          <label for="category">Items</label>
          <br>
          <br>
          <table id="table">
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
            </tr>
            <% cart.items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.categories_to_s %></td>
                <td><%= item.price %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</body>
</html>